body {
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(
    105deg,
    rgb(214, 214, 214) 39%,
    rgb(63, 63, 63) 96%
  );
  background-size: cover;
}

.card {
  background-color: #e7e7e7f5;
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 40px;
  padding: 20px 10px;
  border: 1px solid cadetblue;
  border-radius: 5px;
  box-shadow: 2px 4px 45px #000000;
}

.card-title {
  color: cadetblue;
  font-size: 45px;
  font-weight: 800;
  margin: 20px;
}

.card-description {
  color: chocolate;
  font-size: 24px;
  font-weight: 90;
  margin: 0 8px;
  letter-spacing: 2px;
}

.content {
  color: black;
  padding: 5px 28px;
  font-size: 20px;
  text-align: justify;
  margin: 10px;
}

img {
  width: 400px;
  height: 400px;
}

span {
  font-size: 30px;
  font-weight: 600;
}
